body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}
nav{
    background-color: blue;
    color: black;
    margin: 0px;
    text-align: right;
    padding-right: 200px;
}
header{
    background-color: yellowgreen;
}
footer{
    background-color: tomato;
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
nav ul  li{
    display: inline-block;
    padding: 0px 10px;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
}
h3{
    margin: 0px;
}
